{{define "title"}}Harvey | About{{end}} {{define "content"}}
<div class="demo-container mdl-grid">
	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
	<div class="demo-content  content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
<h3 id="about">About</h3>
<h4 id="features">Features</h4>
<ul>
<li>AMD 64 bit</li>
<li>Modern, simplified syscall system</li>
<li>GCC toolchain means you can use gdb(!)</li>
<li>Clang and Intel C Compiler compatible</li>
<li>Compile in Linux or OSX using Harvey's headers and libs, no need to change anything else</li>
<li>Fast compilation of the whole system</li>
<li>All Plan9 userland apps available</li>
<li>Plans to add Wayland and X11 with rio-like multiplexing, tty emulation over Plan 9 console, a new fileserver, native toolchain and more</li>
<li>Build binaries that will run on Linux and Harvey with no changes.</li>
<li>Go programming language port in progress.</li>
</ul>
<h4 id="about-the-name">About the Name</h4>
<p>So, why "Harvey"? Mostly because we liked it, but there are at least 3 other good reasons:</p>
<ol>
<li><a href="http://www.imdb.com/title/tt0042546/">Harvey</a> is a movie, <a href="http://www.imdb.com/title/tt0052077/">Plan 9</a> is a movie too.</li>
<li>Harvey is a rabbit, Glenda is a bunny.</li>
<li>Most importantly: in the movie, those who believed in Harvey were thought to be insane, but eventually found not to be.</li>
</ol>
<h2 id="team">Team</h2>
<ul>
<li>Álvaro Jurado</li>
<li>Aki Nyrhinen</li>
<li>Dan Cross</li>
<li>David du Colombier</li>
<li>John Floren</li>
<li>Keith Poole</li>
<li>Rafael Fernández</li>
<li>Ron Minnich</li>
<li>Sevki Hasirci</li>
</ul>
	</div>
</div>
{{end}}
